[Unit]
Description=Ubuntu GSI First Boot Setup
Documentation=https://github.com/zerofrip/Ubuntu_Touch_GSI
ConditionPathExists=!/data/uhl_overlay/.firstboot_complete
After=local-fs.target
Before=binder-bridge.service lomiri.service

[Service]
Type=oneshot
ExecStart=/usr/lib/ubuntu-gsi/firstboot.sh
RemainAfterExit=yes
TimeoutStartSec=0

StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/console
TTYReset=yes
SyslogIdentifier=ubuntu-gsi-firstboot

[Install]
WantedBy=multi-user.target
